<input type='file' class='file-input' (change)='onFileSelected($event)' #fileUpload>
<div class='file-upload'>
    <mat-form-field>
        <input matInput [disabled]='true' [value]='filename'>
    </mat-form-field>
    <button mat-mini-fab color='primary' class='upload-btn' [disabled]='disabled' (click)='onClick(fileUpload)'>
        <mat-icon>attach_file</mat-icon>
    </button>
</div>

<mat-progress-bar *ngIf='uploadProgress' class='progress-bar' mode='determinate'
                  [value]='uploadProgress'></mat-progress-bar>
