<div [formGroup]='form'>
    <mat-radio-group formControlName='courseType'>
        <mat-radio-button value='free'>Free</mat-radio-button>
        <mat-radio-button value='premium'>Premium</mat-radio-button>
    </mat-radio-group>
    <file-upload formControlName='thumbnail' requiredFileType='image/jpg'></file-upload>
    <mat-form-field>
        <input formControlName='price' matInput placeholder='Price' type='number'>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Promotional period</mat-label>
        <mat-date-range-input [rangePicker]='promotionalPeriod'>
            <input formControlName='promoStartAt' matStartDate placeholder='Start date'>
            <input formControlName='promoEndAt' matEndDate placeholder='End date'>
        </mat-date-range-input>
        <mat-error *ngIf='form.errors?.promoPeriod && form.dirty'>The Start date must be before the end date.
        </mat-error>
        <mat-datepicker-toggle [for]='promotionalPeriod' matSuffix></mat-datepicker-toggle>
        <mat-date-range-picker #promotionalPeriod></mat-date-range-picker>
    </mat-form-field>
</div>
