<mat-card class='login-page'>
    <mat-card-title>Login (Reactive)</mat-card-title>
    <mat-card-content>

        <form class='login-form data-form' [formGroup]='form'>

            <mat-form-field>

                <input formControlName='email' matInput type='email' name='email'
                       placeholder='Email'>
                <mat-error *ngIf='email.errors?.required'
                >The email is mandatory
                </mat-error
                >
                <mat-error *ngIf='email.errors?.minlength'
                >Your email must have a minimum of
                    {{ email.errors?.minlength.requiredLength }} characters, but it only
                    has {{ email.errors?.minlength.actualLength }}.
                </mat-error
                >
                <mat-error *ngIf='email.errors?.email'
                >Your email is not valid.
                </mat-error
                >

            </mat-form-field>

            <mat-form-field>

                <input formControlName='password' matInput type='password' placeholder='Password'>
                <mat-error *ngIf='password.errors?.required'
                >The password is mandatory
                </mat-error
                >
            </mat-form-field>

            <ng-container
                *ngIf="password.errors | onlyOneError:['minlength', 'passwordStrength'] as error">
                <div class='field-message' *ngIf='error?.passwordStrength'>Your password must have lower case, upper
                    case, and
                    numeric
                    characters
                </div>
                <div class='field-message' *ngIf='error?.minlength'>The minimum length
                    is {{error?.minlength.requiredLength}}. The
                    current length
                    is {{error?.minlength.actualLength}}</div>
            </ng-container>

            <button mat-raised-button color='primary' [disabled]='!form.valid'>
                Login
            </button>

        </form>
        <div class='form-val'>
            {{form.value | json}}
        </div>
        <div class='form-val'>
            {{form.valid}}
        </div>
    </mat-card-content>
</mat-card>
